html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(20, 23, 27);
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

div, nav {
    position: relative;
    display: block;
}

p, h1, h2, h3, h4, div {
    margin: 0;
    font-weight: 200;
}

p {
    margin: 1em 0;
}

a, a:visited {
    color: rgb(20, 59, 119);
}

/* ==PALETTE== */
/*
 * Background: rgb(20, 23, 27)
 * Orange: rgb(253, 148, 8)
 * Red: rgb(133, 1, 11)
 * Blue: rgb(20, 59, 119)
 * Green: rgb(47, 67, 34)
 */

/* ==GENERAL COMPONENENTS== */
div.sec, header.sec, footer.sec {
    padding: 40px 0;
    height: 100%;
}

div.col, header.col, footer.col {
    margin: 0 12%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

bar_orange {
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(253, 148, 8);
}


/* ==NAVIGATION== */
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(20, 23, 27);
    font-family: Raleway, sans-serif;
    padding: 20px 0px;
    overflow: auto;
    color: white;
}

header div.col {
    border-bottom: 2px solid rgb(253, 148, 8);
}   

    header div.logo_container {
        display: inline-block;
    }

    div.logo_container h1  {
        margin-bottom: 0.2em;
    }

    header nav {
        position: absolute;
        right: 0;
        bottom: 0.5em;
    }

    header nav ul {
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        display: inline-block;
        padding: 0 20px;
        text-align: right;
    }

    header nav ul li:last-child {
        padding-right: 0.1em;
    }

    header nav ul li a, header nav ul li a:visited {
        text-decoration: none;
        color: lightblue;
        transition: 0.2s ease-in-out;
    }

    header nav ul li a:hover {
        color: white;
    }

/* ==HOME== */
#home {
    height: 100%;
    padding: 0;
}

/* ==SHELL== */
shell {
    position: absolute;
    height: 300px;
    width: 600px;
    margin-right: 12%;    
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    overflow-y: scroll;
    word-wrap: break-word;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

    shell host {
        color: lightblue;
    }

    shell user {
        color: rgb(253, 148, 8);
    }

    shell shln {
        display: block;
        margin-bottom: 0.2em;
    }

    shell crsr {
        background-color: rgb(253, 148, 8);
        color: black;
        animation-timing-function: steps(1, end);
        -webkit-animation-name: cursor_blink; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
        animation-name: cursor_blink;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    @keyframes cursor_blink {
        0% {background-color: rgb(253, 148, 8);}
        50% {background-color: rgb(20, 23, 27);
            color: white;}
        100% {background-color: rgb(253, 148, 8);}
    }

    @-webkit-keyframes cursor_blink {
        0% {background-color: rgb(253, 148, 8);}
        50% {background-color: rgb(20, 23, 27);
            color: white;}
        100% {background-color: rgb(253, 148, 8);}
    }

    shell dir {
        display: inline;
        padding: 0;
        color: yellow;
    }

    shell key {
        color: lightblue;
    }


/* ==ABOUT== */
#about {
    background-color: white;
}


/* ==RESUME== */
#resume {
    background-color: white;
    color: black;
}

    #resume div.resume_sec {
        padding: 15px 0;
    }

    #resume div.resume_sec h2.title {
        color: rgb(133, 1, 11);
        border-bottom: 2px solid grey;
        margin-bottom: 0.25em;
    }

        #resume .edu_header {
            color: black;
            margin-bottom: 0.25em;
            font-size: 1.2em;
        }

        #resume div.entry_data {
            border-left: 10px solid grey;
            padding: 2px 0 15px 40px;
            background-color: antiquewhite;
        }

        #resume ul.edu_entry_info {
            margin: 0.5em 0;
            padding: 0;
            list-style: none;
        }

        #resume div.courses {
            column-count: 2;
        }

        #resume div.courses div.course {
            margin: 0.3em 0;
        }

        #resume span.code {
            color: rgb(253, 148, 8);
        }

        #resume span.name {

        }