html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1a1e24;
    font-family: sans-serif;
}

div, nav {
    position: relative;
    display: block;
}

p, h1, h2, h3, h4, div {
    margin: 0;
    font-weight: 100;
}

a, a:visited {
    color: white;
}

div.section {
    overflow: auto;
    background-color: white;
}

div.band {
    padding: 80px 0;
}

div.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

div.container {
    overflow: auto;
    margin: 0 20%;
}

span.header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.7);;
    font-size: 1.5em;
    color: white;
}

div.project {
    border: 2px solid #282C34;
    overflow: hidden;
    height: 100px;
}

div.tile-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

div.tile {
    display: inline-block;
    width: calc(25% - 2px);
    border: 1px solid red;
}

    div.tile img {
        width: 100%;
        height: 17vw;
        filter: brightness(50%);
            -webkit-filter: brightness(50%);
        transition: 0.5s;
    }

    div.tile img:hover {
        cursor: pointer;
        filter: brightness(80%);
            -webkit-filter: brightness(80%);
    }

    div.tile span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 30px;
        background-color: rgba(0, 0, 0, 0.7);
        color: grey;
    }

div.panel {
    transition: 0.6s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

div.panel.show {
    display: flex;
    opacity: 1;
    max-height: 100%;
}

div.expandable {
    cursor: pointer;
}

/* === NAVIGATION === */
header {
    padding: 20px 0px;
    margin: 0 20px;
    overflow: auto;
}

    header a {
        text-decoration: none;
    }

    .logo_container {
        overflow: auto;
        float: left;
        color: white;
    }

    nav {
        position: fixed;
        border: 2px solid orange;
        border-radius: 50px;
        overflow: auto;
        right: 15px;
        top: 15px;
        z-index: 100;
        background-color: #1a1e24;
    }

    nav ul {
        padding: 0;
        margin: 10px 20px;
    }

    nav li {
        display: inline-block;
        margin: 0;
    }

    nav a {
        padding: 5px 40px;
        margin: 5px 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    nav a:hover {
        transition: 0.5s;
        background-color: #e47f16;
        border-radius: 50px;
    }

/* === HOME === */
#home {
    height: 100%;
    color: white;
}

    /* === SHELL === */
    #shell {
        position: absolute;
        right: 10%;
        top: 30%;
        width: 380px;
    }

    .shell_body {
        margin: 0;
        padding: 5px 10px;
        list-style: none;
        font: 0.9em 'Andale Mono', Consolas, 'Courier New';
        line-height: 1.6em;
    }

        #greeting {
            font-size: 1.4em;
        }

        #name {
            color: #e47f16;
        }

    .shell_body li.shell_input:before {
        content: '>>>';
        position: absolute;
        top: 0;
        left: 0;
        cursor: text;
    }

    .shell_body li {
        word-wrap: break-word;
        position: relative;
        padding: 0 0 0 30px;
    }

    span.keyword {
        color: #ffed00;
    }

    @keyframes cursor_blink {
        0% {background-color: white;}
        50% {background-color: #1a1e24;}
        100% {background-color: white;}
    }

    @-webkit-keyframes cursor_blink {
        0% {background-color: white;}
        50% {background-color: #1a1e24;}
        100% {background-color: white;}
    }

    #cursor {
        height: 1.562em;
        width: 10px;
        background-color: white;
        display: block;

        animation-timing-function: steps(1, end);
        -webkit-animation-name: cursor_blink; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
        animation-name: cursor_blink;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    #scroll_icon {
        color: grey;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }

    #scroll_icon:hover {
        color: white;
        transition: 0.5s;
        cursor: s-resize;
    }

@media screen and (max-width:680px) {
    #shell {
        top: 40%;
        left: 50%;
        transform: translate(-47%, -50%);
    }
}


/* === ABOUT === */
#about_header .parallax {
    background-image: url('../imgs/ducks_m_comp.jpg');
}

/* === WORKS === */
#works {
    background-color: #282C34;
}

    #works_header .parallax {
        background-image: url('../imgs/desktop_m.jpg');
    }

        #python_header .language_img {
            background-image: url('../imgs/python_img_comp.png');
        }

    #java_header {
        border-top: 0;
    }

        #java_header .language_img {
            background-image: url('../imgs/java_img_comp.png');
        }

    #c_header {
        border-top: 0;
    }

        #c_header .language_img {
            background-image: url('../imgs/c_img_comp.png');
        }

    #school_header {
            border-top: 0;
    }

        #school_header .language_img {
            background-image: url('../imgs/grid.jpg');
        }

    .language_img {
        filter: blur(1px);
            -webkit-filter: blur(1px);
        transition: 0.3s;
    }

    .language_img:hover, .language_img.active {
        filter: blur(0px);
            -webkit-filter: blur(0px);
        transition: 0.3s;
    }

    .language_header {
        position: absolute;
        bottom: 0;
        right: 0;
        color: grey;
        transition: 0.3s ease-in-out;
    }

    .language_header.active {
        color: white;
    }


/* === RESUME === */
    #resume_header .parallax {
        background-image: url('../imgs/campinile_comp.jpg');
    }

    #resume .container {
        margin: 0 10%;
    }


/* === FOOTER === */
footer {
    width: 100%;
}

    footer.section {
        background-color: black;
        text-align: center;
    }

    footer #footer_logo {
        display: inline-block;
        margin: 20px auto;
    }

    footer #footer_links {
        margin: 20px auto;
        text-align: center;
    }

        footer ul {
            display: inline-block;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        footer li {
            display: inline-block;
            margin: 0 5px;
        }

        footer a, footer a:visited {
            color: grey;
            transition: 0.5s;
        }

        footer a:hover {
            color: white;
            transition: 0.5s;
        }
