html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1a1e24;
    font-family: sans-serif;
}

div, nav {
    position: relative;
    display: block;
}

p, h1, h2, h3, h4, div {
    margin: 0;
    font-weight: 100;
}

a, a:visited {
    color: white;
}

.section {
    overflow: auto;
    background-color: white;
}

.band {
    padding: 40px 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.container {
    overflow: auto;
    margin: 0 20%;
}

.header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.6);;
    font-size: 1.5em;
    color: white;
}

.expand {
    cursor: pointer;
}

/* === NAVIGATION === */
header {
    padding: 20px 0px;
    margin: 0 20px;
    overflow: auto;
}

    header a {
        text-decoration: none;
    }

    .logo_container {
        overflow: auto;
        float: left;
        color: white;
    }

    nav {
        position: fixed;
        border: 2px solid orange;
        border-radius: 50px;
        overflow: auto;
        right: 15px;
        top: 15px;
        z-index: 100;
        background-color: #1a1e24;
    }

    nav ul {
        padding: 0;
        margin: 10px 20px;
    }

    nav li {
        display: inline-block;
        margin: 0;
    }

    nav a {
        padding: 5px 40px;
        margin: 5px 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    nav a:hover {
        transition: 0.5s;
        background-color: #e47f16;
        border-radius: 50px;
    }

/* === HOME === */
#home {
    height: 100%;
    color: white;
}

    /* === SHELL === */
    #shell {
        position: absolute;
        right: 10%;
        top: 30%;
        width: 380px;
    }

    .shell_body {
        margin: 0;
        padding: 5px 10px;
        list-style: none;
        font: 0.9em 'Andale Mono', Consolas, 'Courier New';
        line-height: 1.6em;
    }

        #greeting {
            font-size: 1.4em;
        }

        #name {
            color: #e47f16;
        }

    .shell_body li.shell_input:before {
        content: '>>>';
        position: absolute;
        top: 0;
        left: 0;
        cursor: text;
    }

    .shell_body li {
        word-wrap: break-word;
        position: relative;
        padding: 0 0 0 30px;
    }

    @keyframes cursor_blink {
        0% {background-color: white;}
        50% {background-color: black;}
        100% {background-color: white;}
    }

    @-webkit-keyframes cursor_blink {
        0% {background-color: white;}
        50% {background-color: black;}
        100% {background-color: white;}
    }

    #cursor {
        height: 1.562em;
        width: 10px;
        background-color: white;
        display: block;

        animation-timing-function: steps(1, end);
        -webkit-animation-name: cursor_blink; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
        animation-name: cursor_blink;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    #scroll_icon {
        color: grey;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }

    #scroll_icon:hover {
        color: white;
        transition: 0.5s;
        cursor: s-resize;
    }


/* === ABOUT === */
    #about_header .parallax {
        background-image: url('../imgs/ducks_m.jpg');
    }


/* === WORKS === */
#works {
    background-color: #282C34;
}

    #works_header .parallax {
        background-image: url('../imgs/desktop_m.jpg');
    }

    #python_header {
        border-top: 2px solid white;
        overflow: hidden;
    }

        #python_header .parallax {
            background-image: url('../imgs/python_img_m.png');
            fiter: blur(1px);
                -webkit-filter: blur(1px);
            height: 100px;
            transition: 0.3s;
        }

        #python_header span {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        #python_header .parallax:hover {
            fiter: blur(0px);
                -webkit-filter: blur(0px);
            transition: 0.3s;
        }

    #java_header {
        border-top: 2px solid white;
        overflow: hidden;
    }

        #java_header .parallax {
            background-image: url('../imgs/java_img_m.png');
            fiter: blur(1px);
                -webkit-filter: blur(1px);
            height: 100px;
            transition: 0.3s;
        }

        #java_header span {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        #java_header .parallax:hover {
            fiter: blur(0px);
                -webkit-filter: blur(0px);
            transition: 0.3s;
        }

    #c_header {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        overflow: hidden;
    }

        #c_header .parallax {
            background-image: url('../imgs/c_img_m.png');
            fiter: blur(1px);
                -webkit-filter: blur(1px);
            height: 100px;
            transition: 0.3s;
        }

        #c_header span {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        #c_header .parallax:hover {
            fiter: blur(0px);
                -webkit-filter: blur(0px);
            transition: 0.3s;
        }

    .language_header {
        float: right;
        color: white;
    }


/* === RESUME === */
    #resume_header {
            background-image: url('../imgs/capinile.jpg');
    }


/* === FOOTER === */
footer {
    width: 100%;
}

    footer.section {
        background-color: black;
        text-align: center;
    }

    footer #footer_logo {
        display: inline-block;
        margin: 20px auto;
    }

    footer #footer_links {
        margin: 20px auto;
        text-align: center;
    }

        footer ul {
            display: inline-block;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        footer li {
            display: inline-block;
            margin: 0 5px;
        }

        footer a, footer a:visited {
            color: grey;
            transition: 0.5s;
        }

        footer a:hover {
            color: white;
            transition: 0.5s;
        }
