.shell {
    width: 600px;
    height: 20em;
    overflow-y: auto;
    border: 1px solid black;
    font-family: 'Ubuntu Mono', monospace;
    transition: 0.2s ease;
    letter-spacing: 1px;
}

shln {
    display: block;
    white-space: pre-wrap;

    --color-sys: yellow;
    --color-host: orange;
    --color-user: blue;
    --color-dir: green;
    --color-exe: red;
}

shln sys {
    color: var(--color-sys);
}

shln user {
    color: var(--color-user);
}

shln host {
    color: var(--color-host);
}

shln exe {
    color: var(--color-exe);
}

shln direc {
    color: var(--color-dir);
}

shln crsr {
    background-color: rgb(253, 148, 8);
    color: black;
    animation-timing-function: steps(1, end);
    animation-name: cursor_blink;
        -webkit-animation-name: cursor_blink;
    animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes cursor_blink {
    0% {background-color: rgb(253, 148, 8);}
    50% {background-color: rgb(20, 23, 27);
        color: white;}
    100% {background-color: rgb(253, 148, 8);}
}

@-webkit-keyframes cursor_blink {
    0% {background-color: rgb(253, 148, 8);}
    50% {background-color: rgb(20, 23, 27);
        color: white;}
    100% {background-color: rgb(253, 148, 8);}
}