div.shell {
    position: absolute;
    right: 20%;
    top: 20%;
    width: 600px;
    height: 12em;
    overflow-y: hidden;
    border: 1px solid black;
    font-family: "Courier New", monospace;
}

shln {
    display: block;
    white-space: pre-wrap;
}

shln o {
    color: orange;
}

shln b {
    color: blue;
}